@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  --color-bg: #ffffff;
  --color-text: #333333;
  --color-accent: #BEDC3B;
  --color-text-light: #999999;

  --font-family: 'Roboto Mono', monospace;

  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 4rem;
  --spacing-xl: 6rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto Mono', monospace;
  background-color: var(--color-bg);
  color: var(--color-text);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: none;
  letter-spacing: 0.02em;

}

.custom-cursor {
  width: 20px;
  height: 20px;
  background-color: var(--color-accent);
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition: transform 0.15s ease;
}

.custom-cursor.hover{
  transform: translate(-50%, -50%) scale(1.5);
  background-color: #D5E9FF;
}

.app {
  min-height: 100vh;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 3rem;
}

@media (max-width: 768px) {
  .app {
    padding: 0 1.5rem;
  }
}